<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 컬럼명 CAT_ID → catId 자동 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- null 값도 Map에 포함 -->
        <setting name="callSettersOnNulls"        value="true"/>
        <!-- NULL 처리 -->
        <setting name="jdbcTypeForNull"            value="NULL"/>
    </settings>
</configuration>
